<div class="container">
  <%= render "shared/mypage_tabs" %>
  <div class="mypage-main">
    <div class="lesson-registration">
      <%= link_to 'レッスンを登録', "#", class: "btn btn-info btn-lg btn-block" %>
    </div>
  </div>
</div>

