<div class="d-flex justify-content-center">
  <div class="account">
    <div class="account-image">
      <%= image_tag "test-user.jpeg", class: "rounded-circle user-icon" %>
    </div>
    <div class="account-info">
      <p>test test test</p>
    </div>
  </div>
</div>
<div class="mypage-tabs">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="#!">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!">Longer nav link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!">Link</a>
    </li>
  </ul>
</div>
