<div class="container">
  <%= render "shared/lesson_content" %>
  <% if user_information_created? %>
    <%= link_to "メッセージを送信する", rooms_path(user_ids: [current_user.id, @lesson.user.id]), method: :post, class: "btn btn-primary btn-lg btn-block p-3 my-5" %>
  <% elsif user_signed_in? %>
    <h2 class="p-5 text-center">メッセージを送信するには下のボタンをクリック!</h2>
    <%= link_to "ユーザー情報登録へ", edit_user_path(current_user.id), class: "btn btn-primary btn-lg btn-block p-3 my-5" %>
  <% else %>
    <h2 class="p-5 text-center text-primary">メッセージを送信するには右上のボタンからログイン！</h2>
  <% end %>
</div>

