// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  padding-bottom: 10px; 
}

.lesson-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.user-profile {
  align-items: center;
}
